@import "@edx/paragon/scss/core/core";

// Hard coded, should we be using paragon equivalent?
.explore-courses-btn {
  padding-top: 16px;
}

.panel-background {
  background: $light-200;
}

// Height value is hard coded. Would we we want poeple to be able to change the height?
.recommendations-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7.813rem;
  background: $light-200;
}
