# Root app is developed and owned by Aurora
*   @openedx/content-aurora

# WIDGETS and experiments are developed and owned by separate teams below

# Recommendations panel
/src/widgets/RecommendationsPanel       @openedx/vanguards
/src/widgets/LookingForChallengeWidget  @openedx/vanguards