# Root app is developed and owned by Aurora
*   @edx/content-aurora

# WIDGETS and experiments are developed and owned by separate teams below

# Recommendations panel
/src/widgets/RecommendationsPanel       @edx/vanguards
/src/widgets/LookingForChallengeWidget  @edx/vanguards
