# Root app is developed and owned by Aurora
*   @openedx/2U-aperture

# WIDGETS and experiments are developed and owned by separate teams below

# Recommendations panel
/src/widgets/RecommendationsPanel       @openedx/2U-vanguards
/src/widgets/LookingForChallengeWidget  @openedx/2U-vanguards
