.DS_Store
.eslintcache
env.config.*
node_modules
npm-debug.log
coverage

dist/
public/samples/

### pyenv ###
.python-version

### Emacs ###
*~
*.swo
*.swp

### Development environments ###
.idea
.vscode

# Local package dependencies
module.config.js

### transifex ###
src/i18n/transifex_input.json
temp
src/i18n/messages