@import "@edx/paragon/scss/core/core";
.widget-sidebar {
  margin-top: map-get($spacers, 5);
  padding-left: map-get($spacers, 2);
  padding-right: map-get($spacers, 2);
}

@include media-breakpoint-down(md) {
  .widget-sidebar {
    display: none;
  }
}
