@import "@edx/paragon/scss/core/core";

.masquerade-bar {
  display: flex;
  align-items: flex-start;
  padding: map-get($spacers, 4) map-get($spacers, 3) 0 map-get($spacers, 3);

  .masquerade-form-label {
    padding: map-get($spacers, 2) map-get($spacers, 1);
  }

  .masquerade-form-input {
    margin-bottom: 0;
    flex-grow: 1;
    max-width: map-get($grid-breakpoints, 'md');
  }

  .masquerade-chip {
    padding: map-get($spacers, 2) map-get($spacers, 3);
    font-size: $font-size-base;
  }
}