@import "@edx/paragon/scss/core/core";

.masquerade-bar {
  display: flex;
  align-items: flex-start;
  padding: map-get($spacers, 3);
  border-bottom: 1px solid $gray-100;

  &.masquerade-bar-sticky {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: $white;
  }

  .masquerade-form-label {
    padding: map-get($spacers, 2) map-get($spacers, 3);
    display: flex;
    align-items: center;
    margin-bottom: 0;

    &>.pgn__icon {
      margin-right: map-get($spacers, 3);
    }
  }

  .masquerade-form-input {
    margin-bottom: 0;
    flex-grow: 1;
    max-width: map-get($grid-breakpoints, 'md');
  }

  .masquerade-chip {
    padding: map-get($spacers, 2) map-get($spacers, 3);
    font-size: $font-size-base;
  }
}