@import "@edx/paragon/scss/core/core";

.empty-course-hero {
  flex-direction: column;
  padding-bottom: map-get($spacers, 5);
  padding-top: map-get($spacers, 5);
  height: 100%;

  & > * {
    margin-top: map-get($spacers, 3);
    margin-bottom: map-get($spacers, 3);
  }
}

.empty-course-border {
  border: 2px solid $light-400;
}
