
@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:wght@400;700&family=Battambang:wght@400;700&family=Red+Hat+Display:wght@400;700&family=Inter:wght@400;700&display=swap');

// Font Variables
$font-title-khmer: 'Kantumruy Pro', sans-serif;
$font-general-khmer: 'Battambang', sans-serif;
$font-title-english: 'Red Hat Display', sans-serif;
$font-general-english: 'Inter', sans-serif;

// Default Global Font
$font-default: $font-general-english;
