@import './fonts';

// Apply Global Font Styles
body {
  margin: 0;
  font-family: $font-default; // Default global font
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-title-english; // Use English title font
}

.khm-title {
  font-family: $font-title-khmer; // Khmer title font
}

.khm-text {
  font-family: $font-general-khmer; // Khmer general font
}
