.dashboard-card {
  .card {
    .card-verify-ribbon-container {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      text-align: center;

      .badge {
        border-radius: 0;
      }

      > img {
        width: 40px;
        z-index: 1000;
        position: absolute;
        top: 0;
        right: 0;
      }
    }

    a.dashboard-card-title {
     color: var(--pgn-color-black);
    }
  }
}
