.course-list-heading-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.course-list-title {
  font-size: var(--pgn-typography-font-size-h2-base);
  margin: var(--pgn-spacing-spacer-3) 0;
}

.course-list-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.course-filter-controls-container {
  text-align: right;
  align-self: center;
}

@media (--pgn-size-breakpoint-max-width-md) {
  .course-list-heading-container {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .course-filter-controls-container {
    text-align: left;
    align-self: flex-start;
  }

  .course-list-title {
    font-size: var(--pgn-typography-font-size-h3-base);
    margin: var(--pgn-spacing-spacer-2) 0;
  }
}
