@import "@edx/paragon/scss/core/core";

.empty-course-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: map-get($spacers, 5);

  & > * {
    margin-top: map-get($spacers, 3);
    margin-bottom: map-get($spacers, 3);
  }
}