.course-list-column {
  padding: 0 var(--pgn-spacing-spacer-4);
}

.sidebar-column {
  padding: 0 var(--pgn-spacing-spacer-3) 0 var(--pgn-spacing-spacer-1);

  &.not-collapsed {
    padding-top: var(--pgn-spacing-spacer-2);

    & >:first-child {
      margin-top: var(--pgn-spacing-spacer-5-5);
    }
  }
}

@media (--pgn-size-breakpoint-max-width-lg) {
  .sidebar-column {
    // grid are inheriting dir="ltr" from the body, so we need to override it
    [dir=ltr] & {
      padding: 0 var(--pgn-spacing-spacer-3);
    }
    [dir=rtl] & {
      padding: 0 var(--pgn-spacing-spacer-3);
    }
  }
}
