
.logo{
  max-width: 120px !important;
  height: auto !important;
}
.confirm-email-now-button {
  text-decoration: underline !important;
}
.p-4{
border-radius: 0% !important;

}
.p-4:hover{
  background-color: #21472E !important;
  color: white !important;
}
.profile{
  background-color: #3EAB48 !important;
  border-radius: 0% !important;
  border: none;
}