#no-courses-content-view {
  border: 2px solid var(--pgn-color-light-400);
  flex-direction: column;
  padding-bottom: var(--pgn-spacing-spacer-5);
  padding-top: var(--pgn-spacing-spacer-5);
  height: 100%;

  & > * {
    margin-top: var(--pgn-spacing-spacer-3);
    margin-bottom: var(--pgn-spacing-spacer-3);
  }
}

